div.nav-previous a {
  background: $badge-color;
  border-radius: 15px;
  color: white;
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  transition: background 0.2s ease;

  &:hover,
  &:focus {
    background: $badge-color-hover;
    text-decoration: $link-decoration;
  }
}

nav.posts-navigation {
  margin-top: 2em;
}
