// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$link-color:            rgb(0, 105, 167) !default;
$link-hover-color:      darken($link-color, 15%) !default;

$badge-color:           rgb(0, 112, 118);
$badge-color-hover:     lighten($badge-color, 5%);
