@import url("https://fonts.googleapis.com/css?family=Domine:400,700|Quicksand:400,500,700");

// Colors
$link-color: rgb(0, 0, 88);

// Fonts
$headline-font: 'Domine', serif;
$copy-font: 'Quicksand', sans-serif;
